---
import BaseLayout from '../layouts/BaseLayout.astro';
import Project from './components/project.astro';
import { ProjectConfigs } from '../constants';
---

<BaseLayout subTitle='PROJECTS'>
    {ProjectConfigs.map(({href, name, content, aTagInfo}) => (
        <div class='text-gray-700 mb-4'>
            <a target='_blank' href={href} class='font-bold text-base'>{name}</a>
            <p>
                {content}
                {
                    aTagInfo
                        ? <a target='_blank' href={aTagInfo.href}>{aTagInfo.content}</a>
                        : ''
                }
            </p>
        </div>
    ))}
</BaseLayout>
